<!DOCTYPE html>
<html>
<head>
	<title>Desafio M1 - Main</title>
</head>
<body>
	<form action="/check" method="POST">
		<input type="text" name="nome">
		<input type="date" name="nascimento">
		<button type="submit">Enviar</button>
	</form>
</body>
</html>
